<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Equipment</title>
  </head>
  <body>
    <h1>Delete Equipment</h1>
    <form
      id="deleteForm"
      action="/<%=utility%>/<%=equipment%>/Delete-Equipment"
      method="post"
    >
      <p>Are u sure u want to delete <%=equipment%> from stock?</p>
      <label for="confirmation">Write "confirm" to delete:</label><br />
      <input
        type="text"
        id="confirmation"
        name="confirmation"
        required
      /><br /><br />

      <input type="submit" value="submit" />
    </form>
  </body>
</html>
