<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Equipment</title>
  </head>
  <body>
    <h1>Add New Equipment to <%= utility %></h1>
    <form
      id="equipmentForm"
      action="/<%= utility  %>/New-Equipment"
      method="post"
    >
      <label for="category">Category:</label><br />
      <input type="text" id="category" name="category" required /><br /><br />

      <label for="equipment">Equipment:</label><br />
      <input type="text" id="equipment" name="equipment" required /><br /><br />

      <label for="description">Description:</label><br />
      <textarea id="description" name="description" required></textarea
      ><br /><br />

      <label for="seller">Seller:</label><br />
      <input type="text" id="seller" name="seller" /><br /><br />

      <label for="brand">Brand:</label><br />
      <input type="text" id="brand" name="brand" /><br /><br />

      <label for="serial_number">Serial Number:</label><br />
      <input type="text" id="serial_number" name="serial_number" /><br /><br />

      <label for="inventory_ref">Inventory Reference:</label><br />
      <input type="text" id="inventory_ref" name="inventory_ref" /><br /><br />

      <label for="location">Location:</label><br />
      <input type="text" id="location" name="location" required /><br /><br />

      <label for="responsible">Responsible:</label><br />
      <input
        type="text"
        id="responsible"
        name="responsible"
        required
      /><br /><br />

      <label for="last_maintenance">Last Maintenance:</label><br />
      <input
        type="text"
        id="last_maintenance"
        name="dates[last_maintenance]"
      /><br /><br />

      <label for="warranty">Warranty:</label><br />
      <input type="text" id="warranty" name="dates[warranty]" /><br /><br />

      <label for="purchased">Purchased:</label><br />
      <input type="text" id="purchased" name="dates[purchased]" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
