<%- include("partials/header.ejs") %>

<h1>Add New Equipment to <%= utility %></h1>
<form id="equipmentForm" action="/<%= utility  %>/New-Equipment" method="post">
  <div class="mb-3">
    <label for="category" class="form-label">Category:</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2 category"
      name="category"
      required
    />
  </div>

  <div class="mb-3">
    <label for="equipment" class="form-label">Equipment name:</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2 equipment"
      name="equipment"
      required
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <input
      type="text"
      class="form-control"
      id="description formGroupExampleInput2"
      name="description"
      required
    />
  </div>

  <div class="mb-3">
    <label for="seller" class="form-label">Seller:</label>
    <input
      type="text"
      class="form-control"
      id="seller formGroupExampleInput2"
      name="seller"
      required
    />
  </div>

  <div class="mb-3">
    <label for="brand" class="form-label">Brand:</label>
    <input
      type="text"
      class="form-control"
      id="brand formGroupExampleInput2"
      name="brand"
      required
    />
  </div>

  <div class="mb-3">
    <label for="serial_number" class="form-label">Serial_number:</label>
    <input
      type="text"
      class="form-control"
      id="serial_number formGroupExampleInput2"
      name="serial_number"
      required
    />
  </div>

  <div class="mb-3">
    <label for="inventory_ref" class="form-label">Inventory_ref:</label>
    <input
      type="text"
      class="form-control"
      id="inventory_ref formGroupExampleInput2"
      name="inventory_ref"
      required
    />
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input
      type="text"
      class="form-control"
      id="location formGroupExampleInput2"
      name="location"
      required
    />
  </div>

  <div class="mb-3">
    <label for="responsible" class="form-label">Responsible:</label>
    <input
      type="text"
      class="form-control"
      id="responsible formGroupExampleInput2"
      name="responsible"
      required
    />
  </div>

  <div class="mb-3">
    <label for="last_maintenance" class="form-label"
      >Last Maintenance Date:</label
    >
    <input
      type="text"
      class="form-control"
      id="last_maintenance formGroupExampleInput2"
      name="dates[last_maintenance]"
      placeholder="dd/mm/yyyy"
      required
    />
  </div>

  <div class="mb-3">
    <label for="warranty" class="form-label">Warranty:</label>
    <input
      type="text"
      class="form-control"
      id="warranty formGroupExampleInput2"
      name="dates[warranty]"
      placeholder="dd/mm/yyyy"
      required
    />
  </div>

  <div class="mb-3">
    <label for="purchased" class="form-label">Purchased:</label>
    <input
      type="text"
      class="form-control"
      id="purchased formGroupExampleInput2"
      name="dates[purchased]"
      placeholder="dd/mm/yyyy"
      required
    />
  </div>

  <input type="submit" value="Submit" />
</form>

<%-include("partials/footer.ejs") %>
