<%- include("partials/header.ejs") %>
<div class="container" id="category-buttons">
  <% data.forEach(Obj => { %> <% Object.keys(Obj).forEach(utility => { %>
  <button onclick="getEquipments('<%= utility %>')"><%=utility%></button>
  <% }); %> <% }); %>
</div>

<script>
  function getEquipments(utility) {
    // Redirect to the details page with the utility name as a parameter
    window.location.href = "/equipment/" + encodeURIComponent(utility);
  }
</script>

<%-include("partials/footer.ejs") %>
